[submodule "libs/lib-test-a_Helgruft"]
	path = libs/lib-test-a_Helgruft
	url = git@github.com:Romain-Guinais/lib-test-a_Helgruft.git
[submodule "libs/lib-test-b_Helgruft"]
	path = libs/lib-test-b_Helgruft
	url = git@github.com:Romain-Guinais/lib-test-b_Helgruft.git
[submodule "libs/lib-test-b_AllanIIA"]
	path = libs/lib-test-b_AllanIIA
	url = git@github.com:AllanIIA/lib-test-b_AllanIIA.git
